@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
 /* imports font from google */

* {
    box-sizing: border-box;
}

/* makes sure that when u add padding etc, doesnt change the width */

body {
    font-family: 'Muli';
    background-color: #f0f0f0;
}

h1 {
margin: 50px 0 30px;
text-align: center;
}

.faq-container{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    /* very nice, centers text */
}

.faq{
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    /* so i can put other stuff as absolute */
    overflow: hidden;
    /* text doesn go out the container */
    transition: 0.3 ease;
}

.faq.active{
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0, 0, 0, 1);
}

.faq.active::before, .faq.active::after{
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    /* allows adding font awesome icons */
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
    /* so its behind everything else */
}

.faq.active::before{
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
    /* rotates it o other side by Y axis */
}

.faq-title{
    margin: 0 35px 0 0;
}

.faq-text{
    display: none;
    margin: 30 0 0;
}

.faq.active .faq-text{
    display: block;
}

.faq-toggle{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.faq-toggle .fa-times{
    display: none;
}

.faq.active .faq-toggle .fa-times{
    color: white;
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down{
    display: none;
}

.faq-toggle:focus{
    outline: 0;
}

.faq.active .faq-toggle{
    background-color: #9fa4a8;
}