@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
 /* imports font from google */

* {
    box-sizing: border-box;
}

/* makes sure that when u add padding etc, doesnt change the width */

body {
    background-color: #e1e1e1;
    font-family: 'Muli';
    display: flex;
    /* allows flexibility */
    align-items: center;
    /* centers items */
    justify-content: center;
    text-align: center;
    height: 100vh;
    /* centers content, but wont work without height setup */
    overflow: hidden;
    /* hides scrollbars */
    margin: 0;
}


.key{
    border: 1px solid #999;
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    flex-direction: column;
    margin: 10px;
    font-weight: bold;
    min-width: 150px;
    position: relative;
}

.key small {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 16px;

}