@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 /* imports font from google */

* {
    box-sizing: border-box;
}

/* makes sure that when u add padding etc, doesnt change the width */

body {
    background-color: #686de0;
    font-family: 'Roboto';
    display: flex;
    /* allows flexibility */
    flex-direction: column;
    /* directs flex box verticaly */
    align-items: center;
    /* centers items */
    justify-content: center;
    height: 100vh;
    /* centers content, but wont work without height setup */
    overflow: hidden;
    /* hides scrollbars */
    margin: 0;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0, 0, 0, 1);
    /* 2 shadows */
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}

h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

.joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn {
    background-color: #9f68e0;
    border: 0;
    border-radius: 10px;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0, 0, 0, 1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}